<header>
    <div class="header-container container">
        <nav class="header-navigation">
            <a class="header-logo" href="#">Lloyd<span class="second-part-logo">Jefferson.</span></a>
            <ul class="header-list">
                <li class="header-item" style="display: none;">
                    <label class="switch">
                        <input type="checkbox" id="toggleSwitch">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="header-item"><a class="header-link" href="#anchor-about-me">About me</a></li>
                <li class="header-item"><a class="header-link" href="#anchor-my-project">Projects</a></li>
                <li class="header-item"><a class="header-link" href="#contact">Contacts</a></li>
            </ul>
            <button class="burger-button" type="button">
                <svg width="21" height="14">
                    <use href="/img/icon.svg#icon-burger-menu"></use>
                </svg></button>
        </nav>
    </div>
</header>