<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/hero.css">
</head>
<body>
   
<section class="hero-section">
        <div class="container hero-bgr">
  
    <div class="hero-title">
        <h1 class="hero-sentence">Hello, I am <span class="break">Fullstack developer</span></h1>
    </div>
    
    
    <div class="hero-second-part">
       <a href="" class="order-project-link">ORDER THE PROJECT</a>
    </div>

    <div class="hero-info">
        <p>I work with people all over the world to create <span class="hero-text-deco">impressive</span> and  <span class="hero-text-deco">functional websites</span>  that reflect each client’s unique personality. </p>
    </div>
      
   
    <div class="social-media">
        <ul class="social-links">
            <li><a href="https://www.instagram.com/goitclub/ " target="_blank"> Instagram</a></li>
            <li><a href="https://www.youtube.com/c/GoIT" target="_blank"> Facebook</a></li>
            <li><a href="https://www.facebook.com/goITclub/" target="_blank"> Linkedin</a></li>
            <li><a href="" target="_blank"> GitHub</a></li>
        </ul>
    </div>
    
    </div>
  
    </section>



</body>
</html>