<section class="hero-section">
    <div class="container">



<div class="decor">



<div class="hero-title сommon-text-style">
   <h1 class="hero-sentence"> Hello,I am      <img class="hidden" src="./img/hero-foto.png" alt="Фото розробника" srcset="./img/hero-foto.png 1x, ./img/hero-foto@2x.png 2x"> 
    <span class="break">Fullstack developer 
</span>
        
    </h1>
    
</div>


<div class="hero-container">

<div class="hero-order hero">

   <a href="" class="order-project-link ">ORDER THE PROJECT
   <svg class="hero-link-arrow">
        <use href="/img/icon.svg#icon-big-arrow"></use>
      </svg>
   </a>

   <div class="light-green-box"></div>

</div>

<div class="hero-info сommon-text-style">
    <p>I work with people all over the world to create <span class="hero-text-deco">impressive<br class="paragraph-hidden"></span> and  <span class="hero-text-deco">functional websites</span>  that reflect <br class="paragraph-desktop"> each client’s unique <br class="paragraph-hidden">    personality.</p>
</div>
</div>
  



</div> 

<div class="social-media">

    <ul class="social-links">
        <li><a href="https://www.instagram.com/goitclub/ " target="_blank"> Instagram</a></li>
        <li><a href="https://www.youtube.com/c/GoIT" target="_blank"> Facebook</a></li>
        <li><a href="https://www.facebook.com/goITclub/" target="_blank"> Linkedin</a></li>
        <li><a href="" target="_blank"> GitHub</a></li>
    </ul>
</div>

</div>

</section>
