<section class="my-project" id="anchor-my-project">
    <div class="container">
        <div class="my-project-container">  
        <p class="my-project-title"><span>my</span> <span class="my-project-title-span">projects</span></p>
        <ul class="my-project-list">
            <li class="my-project-card">
                <img class="my-project-picture" srcset="/img/my-project-wallet-web-1x-min.jpg 1x, /img/my-project-wallet-web-2x-min.jpg 2x" 
                src="/img/my-project-wallet-web-1x-min.jpg" 
                alt="Wallet webservice" width="1008" />
                <p class="my-project-text">React, JavaScript, Node JS, Git</p>
                <div class="my-project-style">
                    <h3 class="project-title">Wallet webservice</h3>
                    <div class="my-project-one"> 
                    <a class="project-link" href="https://mark-goga.github.io/the-coding-newbies/" target="_blank">VISIT <svg class="project-favicon" width="18" height="18">
                        <use href="/img/icon.svg#icon-icon-1"></use>
                      </svg>  
                    </a>
                </div>
                </div>
            </li>
            <li class="my-project-card">
                <img class="my-project-picture" srcset="/img/my-project-green-harv-desk-1x-min.jpg 1x, /img/my-project-green-harv-desk-2x-min.jpg 2x" 
                src="/img/my-project-green-harv-desk-1x-min.jpg" 
                alt="Green harvest webservice" width="1008" />
                <p class="my-project-text">React, JavaScript, Node JS, Git</p>
                <div class="my-project-style">
                    <h3 class="project-title">Green harvest webservice</h3>
                    <div class="my-project-one"> 
                        <a class="project-link" href="https://mark-goga.github.io/the-coding-newbies/" target="_blank">VISIT <svg class="project-favicon" width="18" height="18">
                            <use href="/img/icon.svg#icon-icon-1"></use>
                          </svg>  
                        </a>
                    </div>
                </div>
            </li>
            <li class="my-project-card">
                <img class="my-project-picture" srcset="/img/my-project-english-ex-desk-1x-min.jpg 1x, /img/my-project-english-ex-desk-2x-min.jpg 2x " 
                src="/img/my-project-english-ex-desk-1x-min.jpg" 
                alt="English Exellence webservice" width="1008" />
                <p class="my-project-text">React, JavaScript, Node JS, Git</p>
                <div class="my-project-style">
                    <h3 class="project-title">English Exellence website</h3>
                    <div class="my-project-one"> 
                        <a class="project-link" href="https://mark-goga.github.io/the-coding-newbies/" target="_blank">VISIT <svg class="project-favicon" width="18" height="18">
                            <use href="/img/icon.svg#icon-icon-1"></use>
                          </svg>  
                        </a>
                    </div>
                </div>
            </li>
            <li class="my-project-card js-none">
                <img class="my-project-picture" srcset="/img/my-project-chego-jewelry-1x-min.jpg 1x, /img/my-project-chego-jewelry-2x-min.jpg 2x" 
                src="/img/my-project-chego-jewelry-1x-min.jpg" 
                alt="chego jewelry website" width="1008" />
                <p class="my-project-text">React, JavaScript, Node JS, Git</p>
                <div class="my-project-style">
                    <h3 class="project-title">chego jewelry website</h3>
                    <div class="my-project-one"> 
                        <a class="project-link" href="https://mark-goga.github.io/the-coding-newbies/" target="_blank">VISIT <svg class="project-favicon" width="18" height="18">
                            <use href="/img/icon.svg#icon-icon-1"></use>
                          </svg>  
                        </a>
                    </div>
                </div>
            </li>
            <li class="my-project-card js-none">
                <img class="my-project-picture" srcset="/img/my-project-fruitbox-online-1x-min.jpg 1x, /img/my-project-fruitbox-online-2x-min.jpg 2x" 
                src="/img/my-project-fruitbox-online-1x-min.jpg" 
                alt="fruitbox online stor" width="1008" />
                <p class="my-project-text">React, JavaScript, Node JS, Git</p>
                <div class="my-project-style">
                    <h3 class="project-title">fruitbox online store</h3>
                    <div class="my-project-one"> 
                        <a class="project-link" href="https://mark-goga.github.io/the-coding-newbies/" target="_blank">VISIT <svg class="project-favicon" width="18" height="18">
                            <use href="/img/icon.svg#icon-icon-1"></use>
                          </svg>  
                        </a>
                    </div>
                </div>
            </li>
            <li class="my-project-card js-none">
                <img class="my-project-picture" srcset="/img/my-project-power-pulse-1x-min.jpg 1x, /img/my-project-power-pulse-2x-min.jpg 2x" 
                src="/img/my-project-power-pulse-1x-min.jpg" 
                alt="power pulse webservice" width="1008" />
                <p class="my-project-text">React, JavaScript, Node JS, Git</p>
                <div class="my-project-style">
                    <h3 class="project-title">power pulse webservice</h3>
                    <div class="my-project-one"> 
                        <a class="project-link" href="https://mark-goga.github.io/the-coding-newbies/" target="_blank">VISIT <svg class="project-favicon" width="18" height="18">
                            <use href="/img/icon.svg#icon-icon-1"></use>
                          </svg>  
                        </a>
                    </div>
                </div>
            </li>
            <li class="my-project-card js-none">
                <img class="my-project-picture" srcset="/img/my-project-energy-flow-1x-min.jpg 1x, /img/my-project-energy-flow-2x-min.jpg 2x" 
                src="/img/my-project-energy-flow-1x-min.jpg" 
                alt="energy flow webservice" width="1008" />
                <p class="my-project-text">React, JavaScript, Node JS, Git</p>
                <div class="my-project-style">
                    <h3 class="project-title">energy flow webservice</h3>
                    <div class="my-project-one"> 
                        <a class="project-link" href="https://mark-goga.github.io/the-coding-newbies/" target="_blank">VISIT <svg class="project-favicon" width="18" height="18">
                            <use href="/img/icon.svg#icon-icon-1"></use>
                          </svg>  
                        </a>
                    </div>
                </div>
            </li>
            <li class="my-project-card js-none">
                <img class="my-project-picture" srcset="/img/my-project-vyshyvanka-1x-min.jpg 1x, /img/my-project-vyshyvanka-2x-min.jpg 2x" 
                src="/img/my-project-vyshyvanka-1x-min.jpg" 
                alt="vyshyvanka vibes Landing Page" width="1008" />
                <p class="my-project-text">React, JavaScript, Node JS, Git</p>
                <div class="my-project-style">
                    <h3 class="project-title">vyshyvanka vibes Landing Page</h3>
                    <div class="my-project-one"> 
                        <a class="project-link" href="https://mark-goga.github.io/the-coding-newbies/" target="_blank">VISIT <svg class="project-favicon" width="18" height="18">
                            <use href="/img/icon.svg#icon-icon-1"></use>
                          </svg>  
                        </a>
                    </div>
                </div>
            </li>
            <li class="my-project-card js-none">
                <img class="my-project-picture" srcset="/img/my-project-starlight-1x-min.jpg 1x, /img/my-project-starlight-2x-min.jpg 2x" 
                src="/img/my-project-starlight-1x-min.jpg" 
                alt="starlight studio landing page" width="1008" />
                <p class="my-project-text">React, JavaScript, Node JS, Git</p>
                <div class="my-project-style">
                    <h3 class="project-title">starlight studio landing page</h3>
                    <div class="my-project-one"> 
                        <a class="project-link" href="https://mark-goga.github.io/the-coding-newbies/" target="_blank">VISIT <svg class="project-favicon" width="18" height="18">
                            <use href="/img/icon.svg#icon-icon-1"></use>
                          </svg>  
                        </a>
                    </div>
                </div>
            </li>
            <li class="my-project-card js-none">
                <img class="my-project-picture" srcset="/img/my-project-mimino-1x-min.png 1x, /img/my-project-mimino-2x-min.png 2x" 
                src="/img/my-project-mimino-1x-min.png" 
                alt="mimino website" width="1008" />
                <p class="my-project-text">React, JavaScript, Node JS, Git</p>
                <div class="my-project-style">
                    <h3 class="project-title">mimino website</h3>
                    <div class="my-project-one"> 
                        <a class="project-link" href="https://mark-goga.github.io/the-coding-newbies/" target="_blank">VISIT <svg class="project-favicon" width="18" height="18">
                            <use href="/img/icon.svg#icon-icon-1"></use>
                          </svg>  
                        </a>
                    </div>
                </div>
            </li>

        </ul>
        <button type="button" class="button-my-project load-more-btn">LOAD MORE</button>
    </div>

    </div>
</section>