<section class="reviews">
    <div class="container container-reviews">
        <h2 class="reviews-title">REVIEWS</h2>
        <div class="swiper-wrap">
            <div class="swiper mySwiper">
                <ul class="reviews-list swiper-wrapper"></ul>
            </div>
        </div>
        <div class="swiper-button-wrap">
        <div class="swiper-button-prev">
            <svg class="reviews-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M14 6L20 12L14 18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
            <div class="swiper-button-next">
            <svg class="reviews-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M14 6L20 12L14 18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        </div>
    </div>
</section>
