<section class="tech-skills">
    <h2 class="visually-hidden">TECH SKILLS</h2>
    <div class="running">
        <div class="running__inner green-cube">
            <p class="running__line"><span class="green-dot">HTML/CSS</span><span class="hidden-element"></span>
                JavaScript <span class="hidden-element"></span>
                React<span class="hidden-element"></span>Node. js<span class="hidden-element"></span>React Native<span
                    class="hidden-element"></span>Typescript
            </p>
            <p class="running__line"><span class="green-dot">HTML/CSS</span><span class="hidden-element"></span>
                JavaScript
                <span class="hidden-element"></span>
                React<span class="hidden-element"></span>Node. js<span class="hidden-element"></span>React Native<span
                    class="hidden-element"></span>Typescript
            </p>
        </div>
        <div class="running__inner black-cube">
            <p class="running__line color-mode"><span class="black-dot">HTML/CSS</span><span
                    class="hidden-element-black"></span> JavaScript <span class="hidden-element-black"></span>
                React<span class="hidden-element-black"></span>Node. js<span class="hidden-element-black"></span>React
                Native<span class="hidden-element-black"></span>Typescript
            </p>
            <p class="running__line color-mode"><span class="black-dot">HTML/CSS</span><span
                    class="hidden-element-black"></span> JavaScript <span class="hidden-element-black"></span>
                React<span class="hidden-element-black"></span>Node. js<span class="hidden-element-black"></span>React
                Native<span class="hidden-element-black"></span>Typescript
            </p>
        </div>
    </div>

</section>